body
{
    background-color: blueviolet;
}
header
{
    background-color: brown;
}
nav
{
    background-color: chartreuse;
}
main
{
    background-color: coral;
}
aside
{
    background-color: cornflowerblue;
}
footer
{
    background-color: brown;
}

.container
